<link rel="stylesheet" href="city-list.component.css">
<div class="city-list-container">
  <h1>City list</h1>
  <div class="city-list-search-container">
    <input (keydown.enter)="submit()" [formControl]="searchControl"/>
    <button type="submit" (click)="submit()">search</button>
  </div>

  <div class="pagination">
    <button (click)="first()" [disabled]="currentPage?.first">&lt;&lt;</button>
    <button (click)="prev()" [disabled]="currentPage?.first">&lt;</button>
    <span>&nbsp;{{currentPage?.number}}&nbsp;</span>
    <button (click)="next()" [disabled]="currentPage?.last">&gt;</button>
    <button (click)="last()" [disabled]="currentPage?.last">&gt;&gt;</button>
  </div>

  <table *ngIf="currentPage" class="city-list">
      <tr (click)="navigate(city.id)" *ngFor="let city  of currentPage!!.content!!" class="city-list-row">
        <td>{{city.id}}</td>
        <td>{{city.name}}</td>
        <td><img [src]="city.photo"/></td>
      </tr>
  </table>

</div>
